.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.input-group {
	color: #333;
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin: 0 20px 10px;
	width: 70%;
}

label {
	margin-bottom: 1px;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	float: left;
}

input {
	background: #fff;
	border: 1px solid #999;
	font-size: 13px;
	height: 33px;
	margin: 1em auto;
	padding: 0 0 0 15px;
	width: 100%;
}

.btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 1px solid #eee7e6;
	border-radius: 0.6em;
	cursor: pointer;
	font-weight: 400;
	line-height: 1;
	padding: 0.75em 1.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.btn:hover,
.btn:focus {
	color: #fff;
	outline: 0;
}

.submit {
	border-color: #8e44ad;
	border-radius: 0;
	color: #8e44ad;
	position: relative;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;
}
.submit:after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	height: 100%;
	background: #8e44ad;
	z-index: -1;
	-webkit-transition: width 150ms ease-in-out;
	transition: width 150ms ease-in-out;
}
.submit:hover {
	color: #fff;
}
.submit:hover:after {
	width: 110%;
}
